.App {
  text-align: center;
  background-color: rgb(190, 190, 190);
}

.App-header {
  background-color: #2fdfd6;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-Footer {
  background-color: #2fdfd6;
  min-height: 70px;
  padding: 20px;
}
