.commentsButton {
    background-color: lightseagreen;
    color:white;
    padding: 10px;
    font-size: 20px;
    margin: 100px;
        
}


textarea {
    width: 50%;
    height: 300%;
    outline: none;
}